{% if variant and variant|lower != 'default' %}
  {% set variants = variant|split('__')|map(v => v|lower|replace({(v): 'mzp-l-split-' ~ v})|replace({'_': '-'})) %}
  {% set attributes = attributes.addClass(variants) %}
{% endif %}

{% set attributes = no_space? attributes.addClass('mzp-t-split-nospace'): attributes %}

<section{{ attributes.addClass('mzp-c-split') }}> 
  <div class="mzp-c-split-container">
    <div class="mzp-c-split-body ">
      {{ body }}
    </div>
    <div class="mzp-c-split-media ">
      {{ media }}
    </div>
  </div>
</section>
