{% if variant and variant|lower != 'default' %}
  {% set variants = variant|split('__')|map(v => v|lower|replace({(v): 'mzp-t-' ~ v})|replace({'_': '-'})) %}
  {% set attributes = attributes.addClass(variants) %}
{% endif %}

{% if size != '' %}
  {% set attributes = attributes.addClass('mzp-t-' ~ size|lower|replace({'_': '-'})) %}
{% endif %}

{% if url or attributes.href %}
  {% set url = url|default(attributes.href) %}
  <a{{ attributes.addClass('mzp-c-button').setAttribute('href', url) }}>{{ label }}</a>
{% else %}
  <span{{ attributes.addClass('mzp-c-button') }}>{{ label }}</span>
{% endif %}
