{% if variant != '' and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('mzp-t-' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}

<aside{{ attributes.addClass('mzp-c-notification-bar') }}>
  {% if dismiss %}
  <button class="mzp-c-notification-bar-button" type="button">{{ "Close notification"|t }}</button>
  {% endif %}
  {{ message }}
</aside>
